<div class="dashboard">
  <div class="title-container">
    <h2>dashboard</h2>
    <a href="/toughts/create" class="btn">Criar Pensamento</a>
  </div>
  <h3>Seus pensamentos:</h3>
  <ul>
    {{#each toughts}}
      <li>
        <span class="label">{{this.title}}</span>
        <span class="actions">
          <a href="/toughts/edit/{{this.id}}" class="btn">Editar</a>
          <form action="/toughts/remove" method="POST">
            <input type="hidden" name="id" value="{{this.id}}" />
            <input type="submit" class="btn" value="Excluir" />
          </form>
        </span>
      </li>
    {{/each}}
  </ul>
  {{#if emptyToughts}}
    <p>Ainda não nenhum pensamento seu, comece a criar por
      <a href="/toughts/create">aqui!</a></p>
  {{/if}}
</div>