<h1>Adicione um usuário</h1>
<form action="/users/create" method="post">
  <label for="name">Nome:</label>
  <input type="text" name="name" placeholder="Digite o nome do usuário" />
  <label for="occupation">Profissão:</label>
  <input type="text" name="occupation" placeholder="Digite a profissão" />
  <input type="checkbox" name="newsletter" checked />
  <label for="newsletter">Enviar promoções?</label>
  <input type="submit" value="Cadastrar" />
</form>