<h1>Olá handlebars</h1>
<p>O nome do usuário é {{user.name}} {{user.surname}}</p>
<p>Seu id é {{id}}</p>
{{#if auth}}
  <p>Você está autenticado, clique
    <a href="/dashbord">aqui</a>
    para acessara dashbord</p>
{{else}}
  <p>Você não está autenticado.</p>
{{/if}}