<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contato</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Página para contato</h1>
    <p>
      tortor, mattis id venenatis id, scelerisque sit amet magna. Nulla tellus
      turpis, interdum pretium gravida non, convallis sed est. Phasellus
      efficitur viverra laoreet. Nam vitae justo vitae sapien pharetra
      efficitur. Orci varius natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Morbi sed nibh blandit, rutrum purus sed, pulvinar
      nulla. Nam at est quis purus vehicula interdum sit amet vitae nulla. Proin
      non imperdiet mi, a ultricies quam. Morbi ac dapibus diam, vitae facilisis
      arcu. Fusce gravida sem fringilla, mattis diam pulvinar, eleifend
    </p>
  </body>
</html>
