<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Página inicial</h1>
    <p>
      end a erat ac sagittis. Ut quis felis eget nibh consequat dapibus. Nam
      faucibus quam ipsum, ac posuere nisl elementum ut. Etiam gravida enim eu
      velit placerat, auctor ultricies eros laoreet. Ut sit amet dui a massa
      congue fermentum eget non augue. Suspendisse ac dui cursus diam porta
      mollis. Orci varius natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Nullam in erat risus. Aliquam volutpat, nisl non
      vehicula ultricies, neque urna finibus risus, sit amet consequat ipsum
      justo vel libero. Maecenas ultrices, justo at luctus vehicula, quam nisi
      rhoncus felis, nec cursus eros augue dignissim lacus. Praesent accumsan
      felis at tortor suscipit, vel gravida est volutpat. Aenean vitae metus
      augue. Orci varius natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Sed feugiat lectus sed justo fermentum, sit amet
      lacinia
    </p>
  </body>
</html>
